<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xonlab.contributor.mapper.PrListMapper">
<!--    按年份查询提交次数最多的人-->
    <select id="getMostContributors" resultType="com.xonlab.contributor.vo.MostContributorVo">
        SELECT
            author AS NAME,
            DATE_FORMAT(time, '%Y-%m-%d') AS date,
            count(author) AS times
        FROM
            pr_list
        GROUP BY
            NAME,
            date
        ORDER BY
            times DESC,
            NAME
        LIMIT 178;
    </select>
    <select id="getHistoryRange" resultType="com.xonlab.contributor.vo.HistoryVo">
        SELECT DISTINCT
            time,
            title,
            pr_detail.pr_detail as detail,
            link
        FROM
            pr_list,
            pr_detail
        WHERE
            time &gt;= #{start}
        AND time &lt;= #{end}
        AND pr_list.title = pr_detail.pr_title
        ORDER BY
        title;
    </select>
    <select id="getHistorySingle" resultType="com.xonlab.contributor.vo.HistoryVo">
        SELECT DISTINCT
            time,
            title,
            pr_detail.pr_detail as detail,
            link
        FROM
            pr_list,
            pr_detail
        WHERE
            DATE_FORMAT(time, '%Y-%m-%d') = #{start}
        AND pr_detail.pr_title = pr_list.title;
    </select>
</mapper>
